@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playball&family=Redacted+Script&display=swap');

/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 500ms;
}

::after,
::before {
    transition: all ease-in-out 500ms;
}

html {
    scroll-behavior: smooth;
}


/* header */

header {
    min-height: 100vh;
    margin-left: 15rem;
    padding: 1.2rem 0;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

header h1 {
    font-size: 2.8rem;
    font-family: 'Lobster', cursive;
    margin: .3rem;
}

header p {
    font-size: 1.7rem;
    margin: .4rem;
}

header::before {
    content: "";
    top: 0;
    left: 0;
    background: url("https://raw.githubusercontent.com/Aashutosh-kr/Free_codecamp/main/Projects/img/bg\ patterns.jpg") center center/cover, url("../img/bg\ patterns.jpg") center center/cover;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

header>img {
    min-height: 34rem;
    width: 25rem;
    border-radius: 10%;
}


/* navbar */

#navbar {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 15rem;
    background: url("https://raw.githubusercontent.com/Aashutosh-kr/Free_codecamp/main/Projects/img/bg2.jpg") center center/cover, url("../img/bg2.jpg") center center/cover;
    z-index: 1;
}

#navbar ul {
    justify-content: center;
    align-items: center;
    list-style: none;
}

#navbar ul li {
    background-color: lightgrey;
    border: 2px solid #ff6600;
    border-radius: 2rem;
    width: 100%;
    padding: 0.4rem 0;
    margin: 1rem 0;
    box-shadow: inset -3px -4px 11px 2px #c48ac5, inset 3px 4px 5px 1px #9886f9;
}

#navbar ul li:hover {
    background-color: #dab4b4;
    border: 2px solid #35bdd6;
    transform: scale(1.05);
    box-shadow: inset -3px -4px 11px 2px #8f83d4, inset 3px 4px 5px 1px #a69dd8;
}

#navbar ul li a {
    text-decoration: none;
    font-size: 1.06rem;
    padding: 1rem;
}


/* main section */

main {
    width: 100%;
}

main h2 {
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    margin: .6rem;
}

main article p {
    text-align: justify;
}


/* about section */

#about {
    font-size: 1.5rem;
    min-height: 100vh;
    padding: 0 1.2rem;
    margin-left: 15rem;
    background: linear-gradient(314deg, rgb(252, 74, 74), rgb(255, 206, 71), rgb(55, 236, 206));
}

#about h3 {
    font-family: 'Lobster', cursive;
    font-size: 1.7rem;
}

#about ul {
    margin: 1rem 6rem;
}

#about ul li {
    padding: .5rem;
    list-style: none;
    position: relative;
}

#about ul li::before {
    content: "✓";
    position: absolute;
    top: 0.8rem;
    left: -2rem;
    height: 1.1rem;
    width: 1.1rem;
    background: rgb(240, 240, 240);
    border: 1px solid salmon;
    border-radius: 50%;
    padding: 0.1rem 0.2rem 0.5rem 0.3rem;
    box-shadow: inset 4px 4px 10px 4px #9886f9;
}


/* projects section */

#projects {
    min-height: 100vh;
    padding: 0 1.2rem;
    margin-left: 15rem;
    background: linear-gradient(314deg, rgb(252, 74, 74), rgb(255, 206, 71), rgb(55, 236, 206));
}

.project-tile {
    margin: 2rem auto;
    justify-content: space-evenly;
    align-items: center;
}

.project-tile figure {
    margin: 1rem;
    width: 33vw;
}

.project-tile figure a {
    height: 26rem;
    width: 100%;
    text-decoration: none;
    font-size: 1.15rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.project-tile figure a img {
    height: 90%;
    width: 30vw;
    padding: .5rem 0 .5rem 0;
    margin: 0 0 .5rem 0;
    border-top: 4px solid #53b1de;
    border-bottom: 4px solid #53b1de;
    border-radius: 10%;
}


/*contacts section */

#contacts {
    min-height: 60vh;
    padding: 0 1.2rem;
    margin-left: 15rem;
    justify-content: space-evenly;
    position: relative;
}

#contacts::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("https://raw.githubusercontent.com/Aashutosh-kr/Free_codecamp/main/Projects/img/contact.jpg") center center/cover, url("../img/contact.jpg") center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

#contacts h2 {
    padding-bottom: 0.5rem;
    position: relative;
}

#contacts h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.9px;
    width: 100%;
    border-style: inset;
    border-width: 1px;
}

.social-links {
    justify-content: space-evenly;
}

.links {
    margin: 0.5rem;
    background: linear-gradient( 20deg, #d47d7d61, #e8ec8400, #d65d5d3b);
    border-radius: 20%;
    box-shadow: 7px 6px 9px 3px #6e64a9;
}

.links:hover {
    border: 1px solid goldenrod;
    transform: scale(1.05);
}

.links a {
    height: 8.4rem;
    width: 12rem;
    text-decoration: none;
    margin: 0.3rem;
    font-size: 1.15rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.links a img {
    height: 6rem;
    width: 6rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #53b1de;
}


/* utility classes */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

p {
    font-family: 'Playball', cursive;
}

header img:hover,
header h1:hover,
main h2:hover,
.project-tile figure a img:hover {
    transform: scale(1.05);
}


/* media queries */

@media screen and (max-width:480px) {
    header,
    #contacts,
    #about,
    #projects,
    #social-links {
        margin-left: 0;
    }
    header {
        margin-top: 3vh;
    }
    header>img {
        min-height: 24rem;
        width: 18rem;
    }
    #navbar {
        min-height: 3vh;
        width: 100%;
    }
    #navbar ul {
        flex-direction: row;
        align-items: center;
    }
    #navbar ul li {
        width: unset;
        margin: 0.5rem;
        padding: 0;
    }
    #navbar ul li a {
        padding: .4rem;
    }
    main h2 {
        margin-top: 6vh;
    }
    #about {
        font-size: 1.2rem;
    }
    #about ul {
        margin: 1rem 2rem;
    }
    #about ul li {
        padding: .35rem;
    }
    #about ul li::before {
        top: 0.6rem;
        left: -1.8rem;
        height: 0.8rem;
        width: 0.8rem;
    }
    #about ul li p {
        text-align: justify;
    }
    .project-tile figure {
        margin: .5rem 0rem;
        width: 100%;
    }
    .project-tile figure a {
        height: unset;
    }
    .project-tile figure a img {
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    header {
        margin-top: 8vh;
    }
}

@media screen and (min-width:480.1px) and (max-width:1024px) {
    .project-tile figure {
        width: 70%;
    }
    .project-tile figure a {
        height: unset;
    }
    .project-tile figure a img {
        width: 50vw;
    }
}