@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playball&family=Redacted+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */

header {
    min-height: 100vh;
    margin-left: 15rem;
    padding: 1.2rem 0;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

header h1 {
    font-size: 2.8rem;
    font-family: 'Lobster', cursive;
    margin: .3rem;
}

header p {
    font-size: 1.7rem;
    margin: .4rem;
}

p {
    font-family: 'Playball', cursive;
}

header::before {
    content: "";
    top: 0;
    left: 0;
    background: url("../img/bg\ patterns.jpg") center center/cover;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

header>img {
    min-height: 34rem;
    width: 25rem;
}

#navbar {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 15rem;
    background: url("../img/bg2.jpg") center center/cover, url("") center center/cover;
    z-index: 1;
}

#navbar ul {
    justify-content: center;
    align-items: center;
    list-style: none;
}

#navbar ul li {
    background-color: lightgrey;
    border: 2px solid rgb(255, 102, 0);
    border-color: linear-gradient(red, yellow);
    border-radius: 2rem;
    width: 100%;
    text-align: center;
    padding: 0.4rem 0;
    margin: 1rem 0;
}

#navbar ul li a {
    text-decoration: none;
    font-size: 1.06rem;
    padding: 1rem;
}

main {
    width: 100%;
}

main h2 {
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    margin: .6rem;
}

#about {
    font-size: 1.5rem;
    min-height: 100vh;
    padding: 0 1.2rem;
    margin-left: 15rem;
    background: linear-gradient(314deg, rgb(252, 74, 74), rgb(255, 206, 71), rgb(55, 236, 206));
}

#about ul {
    margin: 2rem 3rem;
}

#about ul li {
    padding: .5rem;
    list-style: none;
    position: relative;
}

#about ul li::before {
    content: "✓";
    position: absolute;
    top: 0.8rem;
    left: -2rem;
    height: 1.1rem;
    width: 1.1rem;
    background: rgb(240, 240, 240);
    border: 1px solid salmon;
    border-radius: 50%;
    padding: 0.1rem 0.2rem 0.5rem 0.3rem;
}

#projects {
    min-height: 100vh;
    padding: 0 1.2rem;
    margin-left: 15rem;
    background: linear-gradient(314deg, rgb(252, 74, 74), rgb(255, 206, 71), rgb(55, 236, 206));
}

#contacts {
    min-height: 50vh;
    padding: 0 1.2rem;
    margin-left: 15rem;
    background: linear-gradient( 142deg, rgb(157 232 216), rgb(126 243 77), rgb(243 203 107));
    justify-content: space-evenly;
}

.social-links {
    justify-content: space-evenly;
}

.links {
    height: 8rem;
    width: 12rem;
    margin: 0.6rem;
}

.links a {
    text-decoration: none;
    text-align: center;
    font-size: 1.15rem;
    justify-content: space-around;
    align-items: center;
}

.links a img {
    height: 6rem;
    width: 6rem;
    margin-bottom: 1rem;
}


/* media query */

@media screen and (max-width:480px) {
    header,
    #contacts,
    #about,
    #projects,
    #social-links {
        margin-left: 0;
    }
    header {
        margin-top: 3vh;
    }
    header>img {
        min-height: 24rem;
        width: 18rem;
    }
    #navbar {
        min-height: 3vh;
        width: 100%;
    }
    #navbar ul {
        flex-direction: row;
        align-items: center;
    }
    #navbar ul li {
        width: unset;
        margin: 0.5rem;
        padding: 0;
    }
    #navbar ul li a {
        padding: .4rem;
    }
    main {
        width: 100%;
    }
    main h2 {
        margin-top: 6vh;
    }
}


/* utility classes */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

h1,
h2,
header {
    text-align: center;
}